<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control <%= errors?.title ? 'is-invalid' : '' %>" 
                       type="text" 
                       id="title" 
                       name="campground[title]" 
                       value="<%= campground.title %>" 
                       required>
                <% if (errors?.title) { %>
                    <div class="invalid-feedback">
                        <%= errors.title %>  
                    </div>
                <% } %>
            </div>

            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control <%= errors?.location ? 'is-invalid' : '' %>" 
                       type="text" 
                       id="location" 
                       name="campground[location]" 
                       value="<%= campground.location %>" 
                       required>
                <% if (errors?.location) { %>
                    <div class="invalid-feedback">
                        <%= errors.location %> 
                    </div>
                <% } %>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" 
                           class="form-control <%= errors?.price ? 'is-invalid' : '' %>" 
                           id="price" 
                           placeholder="0.00" 
                           name="campground[price]" 
                           value="<%= campground.price %>" 
                           required>
                    <% if (errors?.price) { %>
                        <div class="invalid-feedback">
                            <%= errors.price %> 
                        </div>
                    <% } %>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control <%= errors?.description ? 'is-invalid' : '' %>" 
                          id="description" 
                          name="campground[description]" 
                          required><%= campground.description %></textarea>
                <% if (errors?.description) { %>
                    <div class="invalid-feedback">
                        <%= errors.description %> 
                    </div>
                <% } %>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Add Images</label>
                <input class="form-control <%= errors?.images ? 'is-invalid' : '' %>" 
                       type="file" 
                       id="image" 
                       name="image" 
                       multiple>
                <% if (errors?.images) { %>
                    <div class="invalid-feedback">
                        <%= errors.images %> 
                    </div>
                <% } %>
            </div>

            <div class="mb-3">
                <% campground.images.forEach(function(img, i) { %>
                <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                    <label for="image-<%= i %>">Delete?</label>
                </div>
                <% }) %>
            </div>

            <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground._id %>">Back To Campground</a>
    </div>
</div>
