<% layout('layouts/boilerplate') %>
   <div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">

<link rel="stylesheet" href="/stylesheets/newForm.css">
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <% if (error.title) { %>
                    <div class="invalid-feedback"><%= error.title %></div>
                <% } %>
                <div class="invalid-feedback">Title is Required</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <% if (error.location) { %>
                    <div class="invalid-feedback"><%= error.location %></div>
                <% } %>
                <div class="invalid-feedback">Location is Required</div>
    
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="price-label">$</span>
                    <input 
                        type="number" 
                        class="form-control" 
                        id="price" 
                        placeholder="0.00" 
                        aria-label="price" 
                        aria-describedby="price-label"
                        name="campground[price]" 
                        required 
                        min="0" 
                        step="0.01"
                        onkeydown="return event.keyCode !== 189"
                    >
                    <div class="invalid-feedback">
                        <% if (error && error.price) { %>
                            <%= error.price %>
                        <% } else { %>
                            Price is Required
                        <% } %>
                    </div>
                </div>
            </div>
            

            <div class="mb-3">
                <label class="form-label" for="location">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
                <% if (error.description) { %>
                    <div class="invalid-feedback"><%= error.descriptipn %></div>
                <% } %>

            </div>

            <!--<div class="mb-3">
                <div id="map" style="width: 100%; height: 300px;"></div>
            </div> -->
            

            <div class="input-group mb-3">
                <input type="file" class="form-control" id="image" name="image" multiple>
                <label for="image" class="form-file-label">
                </label>
             </div>

            <div class="mb-3">
            <button class="btn btn-success">Add Campground</button>
        </div>
        </form>
        <a href="/campgrounds">All Campgrounds</a>
    </div>
   </div>

   <script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>'; // Make sure this matches your environment variable name
</script>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
<script src="/javascripts/newCampgroundMap.js"></script>



  